#
# Configuration File for the Adressbuch programm
#
#
# Set the language (german french english)
#language german
language english
#language french

# The library directory
#libdir /usr/stud/durka/adr/lib
libdir /usr/local/lib/addressbook

# some adressfiles for fast switching
# the first is loaded st startup
#adrfile1 /usr/stud/durka/adr/lib/adressen.dat
adrfile1 /usr/local/lib/addressbook/addresses.dat
adrfile1alias Sampleaddresses
adrfile2 ~/adr/adressen.dat
adrfile2alias Privateaddressbook

# Your country (only the code)
mycountry D 

# Your telephone area code (for correct omission for local calls)
# including the 1 for USA (like 1212 for New York)
myareacode 089

# Your dialoutprefix for local calls inside your telephone installation
# If you have a standalone phone, it sould be empty
dialoutlocal {}

# Your dialoutprefix for long distance calls inside your tel. installation
dialoutdistance {}

# Programm which is called to dial a phone number (use %number for number)
callprog,phone {/usr/etc/chat -l LCK..ttyS1 -t 90 ABORT BUSY "" ATZ0 OK ATDP%number OK >/dev/ttyS1 </dev/ttyS1 2>/tmp/err &}
#callprog,phone {/usr/local/bin/zplay -s -b "[900,0,5]"}

# Programm which is called to send a fax (use %number)
#callprog,fax {/usr/local/bin/sendfax %number}
callprog,fax {makefax %number &}
#callprog,fax {echo %number}

# Programm which is called to send a email (use %number for emailaddress) 
callprog,email {xterm -e elm %number &}

# Actionbuttons only put to stdout (instead of calling upper programs)
only_stdout  YES

# The default searchtype (1=exact, 2=match, 3=regexp) 
searchtype match

# The selection mask for filenames (endings of datafiles)
select_mask ".dat"
#select_mask "*"
